@import "tailwindcss";

@theme {
  --color-background: #1A1A1A;
  --color-primary: #F6D20A;
  --color-tagOrange: #F65C0A;
  --color-tagRed: #F60A2E;
  --color-darkGray: #3D3D3B;
  --color-offwhite: #f5f5f5;
}

@layer components {
  .section-container {
    @apply max-w-[1440px] mx-auto w-full px-4 md:px-[32px] lg:px-[40px] xl:px-[64px];
  }
}

:root {
  --background: #1A1A1A;
  --foreground: #f5f5f5;
}

body {
  color: var(--foreground);
  background: var(--background);
}

p,
h1,
h2,
h3,
h4 {
  max-width: 75ch;
}